functions/analyzeDocument/definition.json
{
  "Comment": "Form Toolbox State Machine",
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.key",
              "IsPresent": true
            },
            {
              "Or": [
                {
                  "Variable": "$.key",
                  "StringMatches": "*.jpg"
                },
                {
                  "Variable": "$.key",
                  "StringMatches": "*.jpeg"
                },
                {
                  "Variable": "$.key",
                  "StringMatches": "*.png"
                },
                {
                  "Variable": "$.key",
                  "StringMatches": "*.pdf"
                }
              ]
            }
          ],
          "Next": "Pass"
        }
      ],
      "Default": "SendInputFailureMessage"
    },
    "SendInputFailureMessage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.${Region}.amazonaws.com/${AccountId}/${QueueName}.fifo",
        "MessageGroupId": "FormToolboxGroup",
        "MessageDeduplicationId.$": "$.textract.JobId",
        "MessageBody": {
          "Status": "FAILED",
          "KeyId.$": "$.key"
        }
      },
      "Next": "Fail"
    },
    "Pass": {
      "Type": "Pass",
      "Comment": "The input matched the file type.",
      "Next": "StartDocumentAnalysis"
    },
    "StartDocumentAnalysis": {
      "Type": "Task",
      "Next": "SendSuccessMessage",
      "Parameters": {
        "DocumentLocation": {
          "S3Object": {
            "Bucket.$": "$.bucket",
            "Name.$": "$.key"
          }
        },
        "FeatureTypes": [
          "FORMS",
          "TABLES"
        ],
        "OutputConfig": {
          "S3Bucket.$": "$.bucket",
          "S3Prefix": "analysis"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:textract:startDocumentAnalysis",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureMessage"
        }
      ],
      "ResultPath": "$.textract"
    },
    "SendSuccessMessage": {
      "Type": "Task",
      "Next": "Success",
      "Resource": "arn:aws:states:::aws-sdk:sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.${Region}.amazonaws.com/${AccountId}/${QueueName}.fifo",
        "MessageGroupId": "FormToolboxGroup",
        "MessageDeduplicationId.$": "$.textract.JobId",
        "MessageBody": {
          "Status": "SUCCEEDED",
          "DocumentId.$": "$.textract.JobId"
        }
      }
    },
    "SendFailureMessage": {
      "Type": "Task",
      "Next": "Fail",
      "Resource": "arn:aws:states:::aws-sdk:sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.${Region}.amazonaws.com/${AccountId}/${QueueName}.fifo",
        "MessageGroupId": "FormToolboxGroup",
        "MessageDeduplicationId.$": "$.textract.JobId",
        "MessageBody": {
          "Status": "FAILED",
          "DocumentId.$": "$.textract.JobId",
          "Reason.$": "$.Error"
        }
      }
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "InputError",
      "Cause": "Invalid file input type",
      "Comment": "The file provider did not have a supported file extension."
    }
  }
}